
:root {
    --color1: #000000;
    --color2: #03120e;
    --color3: #1a1d1a;
    --color4: #323532;
    --color5: #3e505b;
    --color6: #26412c;
    --color7: #8ab0ab;
    --color8: #ffffff;
    --color9: #ff6262;
    --color10: #ff626258;
}

* { /* Adiciona as propriedades de estilo em todos os elementos da página */
    box-sizing: border-box; /* Tamanho da borda calculado de borda a borda */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

header {
    display: flex;
    justify-content: space-between; /* Define o espaçamento de acordo com o tamanho dos elementos */
    align-items: center;
    padding: 1.5rem 1rem; /* Adiciona o padding (pesquisar futuramente a forma de medida rem) */
    background-color: var(--color6);
    color: var(--color8);
}

#search-container {
    display: flex;
    align-items: center;
    margin-left: auto; /* Alinha a barra de pesquisa à direita */
    gap: 1rem;
    
}

header > h2 > i {
    margin-right: 0.5rem;
}

.input-wrapper {
    display: flex;
    align-items: center;
}

.input-wrapper > input {
    font-weight: bold;
}

#movie-name {
    flex-grow: 2; /* Faz o input de nome ocupar mais espaço */
    min-width: 150px; /* Define uma largura mínima para o input de nome */
}

#movie-year {
    width: 80px; /* Define uma largura fixa menor para o input de ano */
}

#search-button {
    width: 20px; 
    flex-shrink: 0; 
    all: unset; 
    border: 1px solid var(--color0);
    border-radius: 10px;
    padding: 0.3rem 0.5rem;
}

#search-button:focus, 
#search-button:hover {
    background-color: var(--color2);
}

.label{
    padding: 0.5rem;
}

/* Corpo da página */

main{
    text-align: center;
    padding: 2rem;
    background-color: var(--color1);
    flex-grow: 1;

    background-image: url(/CineVerde/files/background.png);
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: fixed;
    background-position: right center
}

#movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem
}

#movie-list article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#movie-list article > img{
    
    border-radius: 10px;
    margin-bottom: .5rem;
}

#background-page-container{
    background: #000000;
    height: 100%;
}