.object {
    width: 100px;
    height: 100px;
    background-color: blue;
    opacity: 100;
    transition: opacity 1s ease-in-out; /* Transição suave */
}

.hidden {
    opacity: 0; /* Fica invisível */ /* Evita que ocupe espaço */
}