:root {
    --cor0: #ffffff;
    --cor1: #E5E5E5;
    --cor1: #ffffff;
    --cor2: #e7e7e7;
    --cor3:  #F59F36;
    --cor4: #feb55d;
    --cor5:  #c07c29;
    --cor6: #ffd29b;
}

#header {
    color: var(--cor0);
    box-shadow: var(--cor1) 0px 2px 0px;
    transition: color 0.5s, box-shadow  0.5s;
}

#message {
    color: var(--cor1);
    transition: color 0.5s;
}

main {
    background-color: var(--cor3);
    transition: background-color 0.5s;
}

.function {
    background-color: var(--cor5);
    color: var(--cor1);
    cursor: pointer;
    transition: background-color .5s, color 0.5s;
}

.pFunction{
    opacity: 0;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

.show{
    opacity: 1;
}

.function-animation {
    background-color: var(--cor4);
    transition: background-color 0.5s;
}

.select {
    background-color: var(--cor4);
    transition: background-color 0.5s;
}

.timer-container {
    background-color: var(--cor4);
    color: var(--cor3);
    transition: background-color 0.5s, color 0.5s, transform 1s;;
}

#cronometer-view {
    background-color: var(--cor1);
    color: var(--cor3);
    transition: background-color 0.5s, color 0.5s;
}

#start-button {
    transition: box-shadow 0.5s, background-color 0.5s, transform 0.5s;
}

.start {
    color: var(--cor3);
    box-shadow: rgb(190, 190, 190) 0px 5px 0px;
    background-color: var(--cor0);
}

.stop {
    color: var(--cor1);
    background-color: var(--cor5);
    box-shadow: rgb(190, 190, 190) 0px 0px 0px;
}

#task-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--cor4);
    transition: background-color 0.5s;
}

#list-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 10px;
    width: 100%;
    height: 100%;
}

.list-checkbox {
    display: flex;
    height: 45px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0 0 0;
    background-color: var(--cor6);
    transition: background-color 0.5s;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--cor0);
    font-weight: bold;
    transition: color 0.5s;
}

.custom-checkbox input {
    display: none;
}

.checkmark {
    width: 20px; 
    height: 20px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 4px; 
    margin-right: 10px; 
    position: relative;
    transition: background-color 0.5s;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked + .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 5px; 
    top: .5px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg);
}

#add-task{
    border: none;
    height: 45px;
    border-radius: 4px;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 20px;
    color:var(--cor3);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#add-task:hover{
    background-color: var(--cor5);
    color: var(--cor0);
    transition: background-color 0.5s, color 0.3s;
}


#task-buttons-container{
    margin: 0 6px 0 0;
}

.task-button{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 4px;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.task-button:hover{
    background-color: var(--cor5);
}

.edit-button{
    color: var(--cor3);
    font-weight: bold;
    transition: color 0.5s;
}

.edit-button:hover{
    color: var(--cor0);
    transition: color 0.5s;
}

.bi-trash-fill{
    width: 16px;
    height: 13px;
    color: var(--cor3);
    transition: color 0.5s;
}

.task-button:hover .bi-trash-fill {
    color: white;
    transition: color 0.5s;
}