:root {
    --cor0: #ffffff;
    --cor1: #E5E5E5;
    --cor2: #F5E7CE;
    --cor3: #8199B6;
    --cor4: #636B75;
    --cor5: #605849;
    --cor6: #332916;
    --cor7: #202936;
    --cor8: #d6cab5;
    --cor9: #b9af9e;
    --cor10: #8b7e68;
}

* {     
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    font-size: 20px;
    text-align: left;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#coffee-icon{
    padding: 0;
    transform: translateY(-1px);
    margin-right: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#message{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    font-weight: bold;
    font-size: 25px;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 2rem 0 2rem;
}

#timer-visor-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.functions-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    transform: translateX(-40px);
    transition: transform 1s;
}

.AnimationFC{
    transform: translateX(0px);
}

.function{
    z-index: 1;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 115px;
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    
}

.timer-container{
    z-index: 2;
    display: flex;
    height: 20rem;
    width: 30rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    transform: translateX(40px);
    transition: transform 1s;
}

.AnimationTC{
    transform: translateX(0px);
}

#cronometer-view{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;

}

#start-button{
    height: 3.5rem;
    width: 10rem;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    transition: transform 0.5s;
}

.stop{
    transform: translateY(5px);
}
