:root {
    --cor0: #ffffff;
    --cor1: #E5E5E5;
    --cor1: #ffffff;
    --cor2: #e7e7e7;
    --cor3:  #F59F36;
    --cor4: #feb55d;
    --cor5:  #c07c29;
    --cor6: #ffd29b;
}

* {     
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header{
    display: flex;
    font-size: 20px;
    text-align: left;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

#coffee-icon{
    padding: 0;
    transform: translateY(-1px);
    margin-right: 10px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#message{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
    font-weight: bold;
    font-size: 25px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 2rem 0 2rem;
}

#timer-visor-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.functions-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    transform: translateX(-40px);
    transition: transform 1s;
}

.AnimationFC{
    transform: translateX(0px);
}

.function{
    z-index: 1;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 115px;
    padding: 1rem;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    
}

.timer-container{
    z-index: 2;
    display: flex;
    height: 20rem;
    width: 30rem;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    transform: translateX(40px);
    transition: transform 1s;
}

.AnimationTC{
    transform: translateX(0px);
}

#cronometer-view{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;

}

#start-button{
    height: 3.5rem;
    width: 10rem;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    transition: transform 0.5s;
}

.stop{
    transform: translateY(5px);
}

/* Tasks */

#addtaskbutton{
    display: flex;
    border: none;
    height: 30px;
    margin-top: 10px;
    font-size: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    transition: color 0.5s, background-color 0.5s;
}

#addtaskbutton:hover{
    background-color: var(--cor3);
}

#addtaskbutton > p{
    width: 30px;
    height: max-content;
    padding: 5px;
    color: var(--cor0);
    background-color: var(--cor4);
    transition: color 0.5s, background-color 0.5s;
}

#addtaskbutton:hover > p{
    color: var(--cor3);
    background-color: var(--cor0);
}

#listcontainer{
    display: flex;
    width: 595px;
    margin-top: 20px;
    padding: 0 10px 10px 10px;
    flex-direction: column;
    border-radius: 8px;
    background-color: var(--cor4);
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    background-color: var(--cor6);
}

.inputtasks{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-between;
}

.tasktext{
    border: none;
    outline: none;
    padding-left: 5px;
    caret-color: var(--cor5);
    border-radius: 8px 0 0 8px;
    color: var(--cor5);
}

input[type="checkbox"]{
    appearance: none;
    width: 23px;
    height: 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--cor0);
}

input[type="checkbox"]:checked{
    background-color: var(--cor5);
}

.tasksubmit{
    padding: 0 5px 0 5px;
    border: none;
    border-radius: 0px 8px 8px 0;
    cursor: pointer;
}

.buttonsed{
    display: flex;
    flex-direction: row;
}

.edittask{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-right: 5px;
    padding:4px;
    cursor: pointer;
    color: var(--cor3);
    transition: color 0.5s, background-color 0.2s;
}

.edittask:hover{
    background-color: var(--cor5);
    color: var(--cor0);
}

.deletetask{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding:4px;
    cursor: pointer;
    color: var(--cor3);
    transition: color 0.5s, background-color 0.2s;
}

.deletetask:hover{
    background-color: var(--cor5);
    color: var(--cor0);
}
/* teste */